.box {
  background-color: blueviolet;
  padding: 10px;
  color: white;
  text-align: center;
}

.cabecera {
  height: 33%;
  background-color: white;
}

.titulo {
  text-align: center;
  color: black;
  padding-left: 50%;
}

.container {
  height: 100vh;
  width: 100vw;
}

.cuerpo {
  height: 33%;
  width: 100%;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-gap: 10px;
  background-color: black;
  color: #444;
}

.cuerpo-b {
  height: 33%;
  padding-left: 50%;

  background-color: black;
  color: #444;
}

.cuerpo-b-flex {
  display: flex;
  grid-template-columns: 30vw 30vw 30vw;
  grid-gap: 10px;
}

.server-icon {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: rgb(85, 204, 68);
}
