<div class="d-flex justify-content-center align-items-center" style="height: 95vh;">
<div class="card" style="width: 18rem; height: 40%;">
  <img
    src="https://joeschmoe.io/api/v1/random"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Alberto Amo Marin</h5>
    <p class="card-text">
      Desarrollado en Angular with ❤ el 22/09/2022 <br />Avatar generado
      aleatoriamente en: https://joeschmoe.io/api/v1/random
    </p>
  </div>
</div>
</div>
