<nav class="navbar navbar-dark bg-dark" style="height: 5vh; min-height: 65px">
  <a class="navbar-brand" href="#" style="margin-left: 20px">Rick and Morty</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="d-flex">
    <a class="navbar-text" routerLink="/home">home</a>
    <a class="navbar-text" style="margin-left: 5px" routerLink="/characters"
      >characters</a
    >
    <a
      class="navbar-text"
      style="margin-left: 5px; margin-right: 5px"
      routerLink="/about"
      >about</a
    >
    <div class="d-flex">
      <input
        [(ngModel)]="searchText"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        class="btn btn-outline-success"
        style="margin-right: 5px"
        (click)="search(searchText)"
      >
        Search
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
