<h1>Administración de artículos</h1>
<table>
  <tr>
    <th>Codigo</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Borrar</th>
    <th>Seleccionar</th>
  </tr>

  <tr *ngFor="let articulo of articulos">
    <th>{{ articulo.codigo }}</th>
    <th>{{ articulo.descripcion }}</th>
    <th>{{ articulo.precio }}</th>
    <th><button (click)="borrar(articulo.codigo)">Borrar?</button></th>
    <th><button (click)="seleccionar(articulo.codigo)">Seleccionar</button></th>
  </tr>
</table>

<div>Codigo: <input [(ngModel)]="articuloMostrar.codigo"></div>
<div>Descripcion: <input [(ngModel)]="articuloMostrar.descripcion"/></div>
<div>Precio: <input [(ngModel)]="articuloMostrar.precio"/></div>

<div><button (click)="addArticulo(articuloMostrar.codigo,articuloMostrar.descripcion,articuloMostrar.precio)">Agregar</button><button (click)="modify()">Modificar</button></div>
